<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Critical Eye</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">
  <style>
    :required {
      border-color: red;
    }
    :required:valid {
      border-color: green;
    }
    .search-results ul {
      padding-left: 0;
    }
    .result {
      list-style: none;
      background: #eee;
      padding: 0.5em;
      margin: .5em 0;
      border-radius: .5em;
    }

    .result:nth-child(even) {
      background: #ccc;
    }
    .artwork {
      max-width: 64px;
    }
    .import-export {
      margin-top: 20px;
    }
    .export {
      margin-left: 1em;
    }
  </style>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h1>Critical Eye</h1>
      </div>
      <div class="col-sm-6 import-export">
        <button id="export" class="btn btn-success pull-right export">Export</button>
        <form name="import_data" class="form-inline pull-right" method="POST">
          <label for="file" class="sr-only">File</label>
          <input type="file" name="file" id="file" class="form-control">
          <button type="submit" class="btn btn-secondary">Import</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <form id="search_album" class="form form-inline" >
          <div class="form-group">
            <label for="q" class="sr-only">Search Query:</label>
            <input type="text" name="q" id="q" placeholder="Album Name" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">Search</button>
        </form>

        <div id="search_results" class="search-results"></div>

        <form id="add_listened" class="form">
          <div class="form-group">
            <label for="artist">Artist</label>
            <input type="text" placeholder="Artist" id="artist" name="artist" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="album">Album</label>
            <input type="text" placeholder="Album" id="album" name="album" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="spotifyId">Spotify ID</label>
            <input type="text" id="spotifyId" placeholder="Spotify ID" name="spotifyId" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="artwork">Artwork URL</label>
            <input type="url" id="artwork" placeholder="http://" name="artwork" class="form-control">
          </div>

          <div class="form-group">
            <label for="href">Listen URL</label>
            <input type="url" id="href" name="href" placeholder="http://" class="form-control">
          </div>

          <div class="form-group">
            <label for="dateListened">Date Listened</label>
            <input type="datetime-local" id="dateListened" name="dateListened" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="rating">Rating</label>
            <input type="number" min="0" max="5" step="0.5" placeholder="2.5" id="rating" name="rating" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" name="description" class="form-control"></textarea>
          </div>

          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
      <div class="col-sm-8" id="listened"></div>
    </div>
  </div>
  <script id="search-template" type="text/x-handlebars-template">
    <ul>
      {{#each albums}}
        <li class="result"
          data-spotify-id="{{spotifyId}}"
          data-artist="{{artist}}"
          data-album="{{album}}"
          data-artwork="{{artwork}}"
          data-href="{{href}}">
          <img src="{{artwork}}" width="45"> {{artist}}: {{album}}
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <a class="btn btn-sm btn-success" href="{{href}}" target="_blank">Listen</a>
            <button class="btn btn-sm btn-info review_button">Review</button>
          </div>
        </li>
      {{/each}}
    </ul>
  </script>
  <script id="listened-template" type="text/x-handlebars-template">
    <table id="listened-table" class="table table=striped">
      <thead>
        <tr>
          <th>Artwork</th>
          <th>Rating</th>
          <th>Artist</th>
          <th>Album</th>
          <th>Date Listened</th>
        </tr>
      </thead>
      <tbody>
        {{#each albums}}
          <tr id="{{spotifyId}}" class="album_row">
            <td>{{artwork}}</td>
            <td>{{rating}}</td>
            <td>{{artist}}</a></td>
            <td><a href="{{href}}" target="_blank">{{album}}</a></td>
            <td>{{dateListened}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </script>
  <script src="https://unpkg.com/dexie@latest/dist/dexie.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
  <script>
    const listened_source = document.getElementById('listened-template').innerHTML;
    const listened_tmpl = Handlebars.compile(listened_source);
    const listended_container = document.getElementById('listened');

    const search_source = document.getElementById('search-template').innerHTML;
    const search_tmpl = Handlebars.compile(search_source);
    const search_container = document.getElementById('search_results');

    const add_listened = document.getElementById('add_listened');

    const db = new Dexie("albums_listened");
    db.version(1).stores({
      albums: '++id, rating, &spotifyId, dateListened, artwork, album, artist, href, description'
    });

    db.open().catch(e => {
      console.error(`Open failed: ${e}`);
    });

    get_albums().then(() => {
      $('#listened-table').DataTable({
        columnDefs: [
          { orderable: false, targets: 0 }
        ],
        order: [[1, 'desc']]
      });
    });

    document.getElementById('export').addEventListener('click', async () => {
      const file = await export_stuff(db)

      const dataStr = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(file));
      const dlAnchorElem = document.createElement('a');
      dlAnchorElem.setAttribute("href", dataStr);
      dlAnchorElem.setAttribute("download", `critical-eye-${Date.now()}.json`);
      dlAnchorElem.click();
    });

    document.forms.import_data.addEventListener('submit', async (e) => {
      e.preventDefault();
      const file = document.forms.import_data.file.files[0];
      const fileReader = new FileReader();
      fileReader.onloadend = function onFileLoaded(e) {
        const contents = JSON.parse(e.target.result);
        import_stuff(contents, db);
      };

      fileReader.readAsText(file, 'UTF-8');
    });

    function export_stuff(db) {
        return db.transaction('r', db.tables, ()=>{
            return Dexie.Promise.all(
                db.tables.map(table => table.toArray()
                    .then(rows => ({table: table.name, rows: rows}))));
        });
    }

    function import_stuff(data, db) {
        return db.transaction('rw', db.tables, () => {
            return Dexie.Promise.all(data.map (t =>
                db.table(t.table).clear()
                  .then(()=>db.table(t.table).bulkAdd(t.rows))));
        });
    }

    async function get_albums() {
      const albums = await db.albums.orderBy('rating').desc().toArray();
      const formatted = albums.map(build_album_data);

      listended_container.innerHTML = listened_tmpl({albums: formatted});
    }

    function build_album_data(album) {
      return Object.assign({}, album, {
        rating: number_to_stars(album.rating),
        dateListened: human_date(album.dateListened),
      });
    }

    function number_to_stars(num) {
      const wholes = Math.floor(num);
      const remainder = (num % 1).toString().split('.')[1];
      let rating = "★".repeat(wholes);
      if (remainder) {
        rating += '.' + remainder;
      }

      return rating;
    }

    function human_date(date) {
      return new Date(date).toDateString();
    }

    // Set Date Listened default
    document.getElementById('dateListened').value = new Date().toISOString().slice(0,-8);

    // Search for albums
    const search_album = document.getElementById('search_album');
    search_album.addEventListener('submit', async e => {
      e.preventDefault();
      const query          = e.target.q.value;
      const search_json    = await fetch(`/search?q=${query}`);
      const search_results = await search_json.json();

      const formatted = search_results.albums.items.map(album => ({
        spotifyId: album.id,
        artist: album.artists.map(artist => artist.name).join(','),
        album: album.name,
        href: album.external_urls.spotify,
        artwork: album.images[2].url
      }));

      search_container.innerHTML = search_tmpl({albums: formatted});

      // When review is clicked, fill out form data.
      const review_buttons = document.querySelectorAll('.review_button');
      Array.from(review_buttons).forEach(button => {
        button.addEventListener('click', e => {
          const album = e.target.closest('.result');

          add_listened.artist.value = album.dataset.artist;
          add_listened.album.value = album.dataset.album;
          add_listened.spotifyId.value = album.dataset.spotifyId;
          add_listened.artwork.value = album.dataset.artwork;
          add_listened.href.value = album.dataset.href;
          // Clear out search results
          search_container.innerHTML = '';
        });
      });
    });

    // Save listened
    add_listened.addEventListener('submit', e => {
      e.preventDefault();
      const album_data = new FormData(add_listened);
      const album = {};
      for (let [key, value] of album_data.entries()) {
        album[key] = value;
      }
      db.albums.add(album).then(() => {
        window.location.reload();
      });
    });
  </script>
</body>
</html>